<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">
  <xi:include href="admin.html" />
  <head>
    <title>Gitosis Repository Settings</title>
  </head>

  <body>
    <h2>Gitosis Repository Settings</h2>

    <form class="mod" id="modbasic" method="post" action="">
      <fieldset>
        <legend>gitweb</legend>
        <div class="field">
          <label>Enable gitweb:
            <input type="checkbox" name="gitweb" value="enabled" checked="${repo.gitweb or None}" />
          </label>
        </div>
        <div class="field">
          <label>Description:<br />
            <input type="text" name="description" size="48" value="${repo.description}" />
          </label>
        </div>
      </fieldset>
      <div class="buttons">
        <input type="submit" value="Apply changes"/>
      </div>
    </form>
  </body>

</html>
